
.content-type1{
  width: 100%;
}
.checkfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.example-section{
  display: flex;
  flex-direction: column;
}
::ng-deep .mat-checkbox-inner-container {
  margin-top: 0px !important;
}
::ng-deep .mat-icon{
  font-size: 18px;
}
.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 85%;
  overflow: auto;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(73 64 255 / 54%) !important;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: blue !important;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #405aff !important;
}
.mat-dialog-actions{
  display: flex;
  justify-content:  space-evenly;
}