<div class="tong" (click)="dialog()"></div>
<button (click)="dialog()"  mat-raised-button color="primary">add student</button>
<button routerLink="/menu" mat-raised-button color="primary">menu</button>
<br>
<!-- <table style="width: 400px;">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>add</th>
    </tr>
    <tr *ngFor="let item of student">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.add}}</td>
        <td><button  (click)="deletestudent(item.id)">delete</button>|<button (click)="suastudent(item.id)" >sua</button></td>
    </tr>
    
</table> -->

<table mat-table [dataSource]="student" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> add </th>
      <td mat-cell *matCellDef="let element"> {{element.add}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    <!-- Symbol Column -->

      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element"> <button  (click)="deletestudent(element.id)">delete</button>|<button (click)="suastudent(element.id)" >sua</button> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


    <div>
      Time: {{ date | date:'M-d-yy, h-mm a'}}</div>
      <br><br>
      <input type="text" [(ngModel)]="number" >
      <br>
      <div>
        number: {{ number | sdt}}</div>
<!-- <app-dialog [data1stchill]="dataparser" (dataOutput)="suasinhvien($event)" class="dialog"></app-dialog> -->
{{a}}
<br>
<select>
  <option *ngFor="let item of displayedColumns" value="{{item}}">{{item}}</option>
</select>
